.list-card {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-flow: wrap;

  @media (max-width: 1022px) {
    justify-content: center;
  }

  .card {
    padding: 0 10px 30px;
  }
}

.paginator {
  margin: 30px 0;
}
